#chat-screen {
  background-color: pink;
  height: 300vh;
}

#openchat-screen {
  background-color: rgb(138, 179, 255);
  height: 150vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: pink;
}

#openchat-screen .alt-header,
#openchat-screen .status-bar {
  background-color: rgb(138, 179, 255);
}

#openchat-screen .alt-header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}

#chat-screen .alt-header {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}
#openchat-screen .status-bar {
  z-index: 2;
  opacity: 1;
}

#chat-screen .status-bar {
  z-index: 2;
  opacity: 1;
}

#openchat-screen.alt-header__title {
  font-weight: 600;
}

#chat-screen .alt-header__title {
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s ease-in-out;
}

.chat__timestamp {
  color: rgba(255, 255, 255, 0.753);
  background-color: var(--blue);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row__comment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  margin-bottom: 20px;
}

.message-row__comment span {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.082);
  width: 100%;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  margin-right: 10px;
}

.message-row__content {
  font-weight: 600;
}

.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

@keyframes messageBubble {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message__info {
  display: flex;
  align-items: flex-end;
  animation: messageBubble 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

@keyframes messageBubbleOwn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message-row--own .message__info {
  animation: messageBubbleOwn 1s ease-in-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.message__info-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__bubble {
  width: fit-content;
  background-color: white;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  color: rgba(0, 0, 0, 0.7);
}

.message__time {
  margin: 0 5px;
  font-size: 12px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  border: 2px solid var(--blue);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  color: black;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.write-message {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  box-sizing: border-box;
}

.write-message i {
  opacity: 0.7;
}

.write-message__column:first-child {
  width: 10%;
}

.write-message__column:last-child {
  width: 90%;
  position: relative;
}

.write-message input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: var(--border-line);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.write-message__column:last-child > i,
.write-message__column:last-child button {
  position: absolute;
  right: -2px;
  top: 5px;
}

.write-message__column:last-child > i {
  right: 28px;
  top: 19px;
}

.write-message__column button {
  background-color: var(--blue);
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.write-message__column button:hover {
  background-color: var(--light-blue);
  transition: background-color 0.3s ease-in-out;
}

.write-message__column button i {
  opacity: 1;
}

.write-message__column button:focus,
.write-message__column button:active {
  outline: none;
}

.write-message .write-message__column:first-child,
.write-message .fa-face-smile,
.write-message button {
  transition: opacity 0.3s ease-in-out;
}

.write-message:focus-within .write-message__column:first-child,
.write-message:focus-within .fa-face-smile,
.write-message:focus-within button {
  opacity: 0;
}

.write-message input:focus {
  width: 95vw;
  transform: translateX(-13%);
  border: 2px solid var(--blue);
}
