.friends-screen {
  padding: 0px var(--horizontal-space);
}

#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 15px 0;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.25);
  padding: 0 3px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--border-line);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
