.friends-screen {
  padding: 0px var(--horizontal-space);
  height: 100vh;
}

#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 15px 0;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: -15px;
  cursor: pointer;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.25);
  padding: 0 3px;
}

#friends-display-link:hover {
  color: var(--light-black);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--border-line);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.friends-screen__channels {
  display: flex;
  flex-direction: column;
}

.friends-screen__channel-toggle {
  cursor: pointer;
}

.friends-screen__channel-lists {
  display: none;
  flex-direction: column;
}

@keyframes chevronUpToggle {
  from {
    transform: 0;
  }
  to {
    transform: translateY(-5px);
  }
}

.friends-screen__channel-toggle:hover {
  animation: chevronUpToggle 1s ease-in-out infinite;
}

@keyframes chevronRight {
  from {
    transform: 0;
  }
  to {
    transform: translateX(5px);
  }
}

.channelToggle_number:hover .fa-chevron-right {
  animation: chevronRight 1s ease-in-out infinite;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.channelToggle_below {
  display: none;
}

#splash-screen {
  background-color: var(--blue);
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 150px;
  animation: hideSplashScreen 0.8s ease-in-out forwards;
  animation-delay: 1.5s;
  z-index: 3;
}

@keyframes splashScreen {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#splash-screen span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: splashScreen 1s ease-in-out;
}

#splash-screen span > h6 {
  position: absolute;
  color: var(--blue);
  font-size: 25px;
  font-weight: bolder;
}
