.badge {
  background-color: tomato;
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-xs {
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  justify-content: center;
  align-items: center;
}
