@keyframes noMobile {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
}

#no-mobile span {
  animation: noMobile 1.5s ease-in-out;
}

#no-mobile i {
  margin-top: 25px;
}

@keyframes noMobileIcon {
  0% {
  }
  50% {
    transform: scaleX(0.8);
  }
  100% {
  }
}

@keyframes rightArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes leftArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.no-mobile__icon .fa-tablet-screen-button {
  will-change: transform;
  animation: noMobileIcon 2s ease-in-out infinite;
}

.no-mobile__icon .fa-arrow-right-long {
  animation: rightArrow 2s ease-in-out infinite;
}

.no-mobile__icon .fa-arrow-left-long {
  animation: leftArrow 2s ease-in-out infinite;
}

@media screen and (max-width: 516px) {
  #no-mobile {
    display: none;
  }
}
