.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 15px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span i {
  cursor: pointer;
}

.find_header-spans {
  position: relative;
  display: flex;
}

.find__header-xs {
  position: absolute;
  right: -5px;
  bottom: 15px;
}
@keyframes scaleSearch {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.screen-header__icons .fa-search:hover {
  animation: scaleSearch 1s ease-in-out forwards;
}

@keyframes rotateMusic {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.screen-header__icons .fa-music:hover {
  animation: rotateMusic 1s ease-in-out infinite;
}

@keyframes rotateComment {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.screen-header__icons .fa-comment-dots:hover {
  animation: rotateComment 1s ease-in-out infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
