.user-component {
  display: flex;
}

.user-component {
  justify-content: space-between;
  margin-bottom: 25px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column {
  cursor: pointer;
}

.user-component__column:hover .user-component__title {
  color: var(--blue);
}

.user-components__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-components__avatar-nomargin {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.user-component__title {
  font-weight: bold;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: 400;
}

.user-components__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-components__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-components__avatar--xs {
  width: 50px;
  height: 50px;
  border-radius: 18px;
}

.user-component__title--not-bold {
  font-weight: 500;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: end;
}

.user-component__ch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-components__channel {
  position: absolute;
  color: var(--blue);
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-right: 22px;
}

.user-components__channel--sm {
  font-size: 18px;
}

.user-components__channel--xs {
  font-size: 16px;
  margin-right: 12px;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__music {
  font-size: 12px;
  border: 2px solid var(--light-green);
  padding: 5px;
  border-radius: 10px;
}

.user-component__music i {
  margin-left: 3px;
  color: var(--light-green);
}

.profile__user-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.profile__user-name {
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}
